[include]
    path = ~/.git_privates
[push]
	default = tracking
[alias]
	whatadded = log --diff-filter=A --
[pull]
	rebase = true
[init]
	templatedir = ~/.git_template
[merge]
#	ff = false
[credential]
	helper = osxkeychain
[diff]
	renames = true
[color]
	ui = true
[http]
	postBuffer = 536870912
