[include]
    path = ~/.git_privates
[push]
	default = current
[alias]
	whatadded = log --diff-filter=A --
    nuke = !git reset --hard && git clean -fdx
    derp = !git stash && git stash branch "${1:-derp}" && :
[pull]
	rebase = true
[init]
	templatedir = ~/.git_template
[merge]
#	ff = false
[credential]
	helper = osxkeychain
[diff]
	renames = true
[color]
	ui = true
[http]
	postBuffer = 536870912
[merge]
	tool = opendiff
[difftool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
