[include]
    path = ~/.gitprivates
[push]
	default = upstream
[alias]
	whatadded = log --diff-filter=A --
[pull]
	rebase = true
[init]
	templatedir = ~/.git_template
[merge]
	ff = false
[credential]
	helper = osxkeychain
